.checked {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    &.in {
        background-color: green;
    } 
}
li {
    display: block;
    list-style-type: none;
    margin-bottom: 20px;
}